#login{
          
          width: 20%;
          margin: 0px auto;
          margin-top: 150px;
          padding: 20px;
          background: white;
          display: block;
          border: 1px solid black;
            
        }

        #izlaz{
          margin-left: 300px;
          background: red;
          border: 1px solid black;

        }
        
        input,button{
          font-weight: 700;
        }
        
        #login input{
          display: block;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 15px;
          outline: none;
          width: 90%;
          margin-bottom: 20px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
        }
        
        #login input:focus{
          border: 1px solid #777;
        
        }
        
        #loguj{
          background: #5d8ffc;
          color: #fff;
          border: 1px solid #5d8ffc;  
          border-radius: 5px;
          padding: 15px;
          display: block;
          width: 90%;
          text-align: center;
          text-decoration: none;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
        }
        
        #loguj:hover{
          background: #fff;
          color: #5d8ffc;
          border: 1px solid #5d8ffc; 
          cursor: pointer;
        }



#logo {
	height: 45px;
	top: 20px;
	left: 50px;
}

ul {
  position: absolute;
	right: 250px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
    	float: left;
}

li a {
  display: block;
  padding: 30px;
  text-decoration: none;
	color: white;
	font-size: 20px;
}


#meni {
	position: absolute;
	width: 1800px;
	height: 120px;
	right: 0;
}